/*common shared styles*/
body {
    font-family: 'Open Sans', sans-serif;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
}






/* nav related css*/
nav {
    display: flex;
}


.nav-title {

    color: #181818;

    font-size: 45px;

    font-weight: 800;

}

.text-primary {
    color: #FD6E0A
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;

}

.header {
    background-color: #f4d8c5;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .profile-picture {
    width: 500px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description {
    margin-top: 20px;
    margin-bottom: 30px;
}

.banner-content {
    max-width: 500px;
}

/*main section styles*/
.about {
    padding: 130px;
    background-color: #f6e5d7;
    border-radius: 10px;
    margin: 130px 0;

}

main {
    max-width: 1140px;
    margin: 0 auto;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

/*skill related styles*/
.container {
    display: flex;
    gap: 24px;
}

.skill-description {
    padding: 30px;
    color: #474747;
}

.skill {
    padding: 30px;
    gap: 24px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

main section {
    margin-top: 130px;
}

.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.resume-item-description {
    color: #757575;

}

.resume-item-institute {
    color: #474747;
    margin-bottom: 20px;
    margin-top: 0;
}

.resume-item-title {
    color:  #474747;
    font-size: 25px;
    font-weight: 700;
}
.resume-container hr{
    margin: 30px;
}

.resume-container{
    display: flex;
    gap: 60px;
}
.dowmload-cv{
    text-align: center;
    margin-top: 50px;
}

/*about section styles*/